@*@model IEnumerable<Project_REPORT_v7.Models.LogTable>*@
@model PagedList.IPagedList<Project_REPORT_v7.Models.LogTable>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Logs Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Logs">
    <script>
        $(function () {
            $.fn.keepValue = function (name) {
                if (!name) {
                    name = "";
                }
                return this.each(function () {
                    var $this = $(this);
                    var id = $this.attr('id');
                    var storage_name = name + id;
                    var value;

                    $this.change(function () {
                        sessionStorage.setItem(storage_name, $this.val());
                    });
                    if (sessionStorage.getItem(id) != null) {
                        value = sessionStorage.getItem(id);
                    }

                    if (!$this.val()) {
                        $this.val(name + value);
                    }
                })
            };

            $("#radioLogs .logRadio").checkboxradio({
                icon: false
            });

            dateFrom = $("dateFrom")
                .datepicker({
                    defaultDate: "",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "mm-dd-yy"
                })
                .on("change", function () {
                    dateTo.datepicker("option", "minDate", getDate(this));
                });
            dateTo = $("dateTo")
                .datepicker({
                    defaultDate: "",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "mm-dd-yy"
                })
                .on("change", function () {
                    dateFrom.datepicker("option", "maxDate", getDate(this));
                });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    console.log(error);
                    date = null;
                }
                return date;
            }
        });

        $(document).ready(function () {
            $("#dateFrom").keepValue();
            $("#dateTo").keepValue();

        })
    </script>

    <h2>Logs</h2><div>
        <div class="navbar navbar-default">
            <div class="container-fluid">
                @using (Ajax.BeginForm("Index", "LogTables", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "Logs", InsertionMode = InsertionMode.Replace }, htmlAttributes: new
                {
                    @class = "navbar-form",
                    @style = "padding: 5px 0 0 0;"
                }))
                {
                    <div class="navbar navbar-left">
                        <div class="form-group">
                            <div class="btn-group clearfix" id="radioLogs">
                                <label for="All" class="btn btn-group btn-default">All</label>
                                @Html.RadioButton("FilterLog", "All", true, htmlAttributes: new { @title = "All", @id = "All", @style = "visibility: hidden; width: 0; height:0;", @class = "logRadio" })
                                <label for="Create" class="btn btn-group btn-default">Create</label>
                                @Html.RadioButton("FilterLog", "Create", htmlAttributes: new { @title = "Create", @id = "Create", @style = "visibility: hidden; width: 0; height:0;", @class = "logRadio" })
                                <label for="Edit" class="btn btn-group btn-default">Edit</label>
                                @Html.RadioButton("FilterLog", "Edit", htmlAttributes: new { @title = "Edit", @id = "Edit", @style = "visibility: hidden; width: 0; height:0;", @class = "logRadio" })
                                <label for="Delete" class="btn btn-group btn-default">Delete</label>
                                @Html.RadioButton("FilterLog", "Delete", htmlAttributes: new { @title = "Delete", @id = "Delete", @style = "visibility: hidden; width: 0; height:0;", @class = "logRadio" })
                                <label for="Error" class="btn btn-group btn-default">Error</label>
                                @Html.RadioButton("FilterLog", "Error", htmlAttributes: new { @title = "Error", @id = "Error", @style = "visibility: hidden; width: 0; height:0;", @class = "logRadio" })
                            </div>
                        </div>
                        <div class="form-group" style="padding-left: 15px">
                            <label for="userDD">User</label>
                            @Html.DropDownList("UserDD", Project_REPORT_v7.Controllers.LogTablesController.PopulateMembers(), htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group" style="padding-left: 10px;">
                            <label for="dateFrom">From</label>
                            <input type="text" id="dateFrom" name="dateFrom" class="form-control" placeholder="@DateTime.MinValue.ToString("MM-dd-yyyy")" style="width:100px;" />
                        </div>
                        <div class="form-group" style="padding-left: 5px;">
                            <label for="dateTo">To</label>
                            <input type="text" id="dateTo" name="dateTo" class="form-control" placeholder="@DateTime.MaxValue.ToString("MM-dd-yyyy")" style="width:100px;" />
                        </div>
                    </div>
                    <div class="navbar-right" style="padding-top: 3px;">
                        <input type="submit" value="Apply" class="btn btn-default" />
                    </div>
                }
            </div>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Date")
            </th>
            <th>
                @Html.DisplayName("Type")
            </th>
            <th>
                @Html.DisplayName("Message")
            </th>
            <th>
                @Html.DisplayName("User")
            </th>
        </tr>

        @foreach (var item in Model.OrderByDescending(o => o.L_DATE))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.L_DATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.L_TYPE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.L_MESSAGE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.L_USER_ID)
                </td>
            </tr>
        }

    </table>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, Page => Url.Action(
     "Filter",
     new
     {
         FilterLog = Request.QueryString["FilterLog"],
         dateFrom = Request.QueryString["dateFrom"],
         dateTo = Request.QueryString["dateTo"],
         Page
     }),
     PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
         new PagedListRenderOptions()
         {
             Display = PagedListDisplayMode.IfNeeded,
             DisplayItemSliceAndTotal = true
         },
         new AjaxOptions()
         {
             HttpMethod = "GET",
             UpdateTargetId = "Logs",
             InsertionMode = InsertionMode.ReplaceWith
         }
 ));
</div>
