@model IEnumerable<Project_REPORT_v7.Models.MainTaskTable>


@if (Session["Closed"].Equals("false") || ((string)Session["isAdmin"]) == "Admin")
{
    <p>
        <a class="btn btn-success" data-modal="" href="/MainTaskTables/Create" id="MainTaskCreate">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </p>
}

<table class="table table-bordered table-condensed table-striped table-responsive" id="MainTaskTable">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Shop)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.System)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Problem)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Solution)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Cooperation)
        </th>
        @if (Session["Closed"].Equals("false") || ((string)Session["isAdmin"]) == "Admin")
        {
            <th class="text-center">Actions</th>
        }
    </tr>

    @foreach (var item in Model.OrderBy(o => o.Time))
    {
        <tr>
            <td class="text-center" style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td class="text-center" style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td class="text-center" style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.Shop)
            </td>
            <td class="text-center" style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.System)
            </td>
            <td class="text-middle-table" style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.Problem)
            </td>
            <td class="text-middle-table" style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.Solution)
            </td>
            <td class="text-center" style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.Cooperation)
            </td>
            @if (Session["Closed"].Equals("false") || ((string)Session["isAdmin"]) == "Admin")
            {
                <td class="text-center" style="vertical-align:middle;">
                    <input type="hidden" value="@item.MainTaskID" class="maintaskID" />
                    <a data-modal="" href="/MainTaskTables/Edit/@item.MainTaskID" id="@item.MainTaskID" title="Edit" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
                    <a data-modal="" href="/MainTaskTables/Delete/@item.MainTaskID" id="@item.MainTaskID" title="Delete" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            }
        </tr>
    }
</table>
