@model PagedList.IPagedList<Project_REPORT_v7.Models.MainTaskTable>
@using PagedList.Mvc;

@{
}

<div id="tab_MainTask">
    <script>
        $(function () {
            $("#radioMT .mtRadio").checkboxradio({
                icon: false
            });

            mtFrom = $("#mtFromDT")
                .datepicker({
                    defaultDate: "",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "dd.mm.yy"
                })
                .on("change", function () {
                    mtTo.datepicker("option", "minDate", getDate(this));
                }),
                mtTo = $("#mtToDT").datepicker({
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "dd.mm.yy"
                })
                    .on("change", function () {
                        mtFrom.datepicker("option", "maxDate", getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }
                return date;
            }
        });
    </script>

    <div>
        <h2>Filter Main Task</h2>

        <div class="navbar navbar-default">
            <div class="container-fluid">
                @using (Ajax.BeginForm("FilterIndex", "MainTaskTables", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "tab_MainTask", InsertionMode = InsertionMode.Replace }, htmlAttributes: new { @class = "navbar-form", @style = "padding: 5px 0 0 0;" }))
                {
                    <div class="navbar navbar-left">
                        <div class="form-group">
                            <div class="btn-group clearfix" id="radioMT">
                                <label for="MTALL" class="btn btn-group btn-default">ALL</label>
                                @Html.RadioButton("FilterMT", "ALL", true, htmlAttributes: new { @title = "ALL", @id = "MTALL", @style = "visibility: hidden; width:0; height:0;", @class = "mtRadio" })

                                <label for="MTGLOVIS" class="btn btn-group btn-default">GLOVIS</label>
                                @Html.RadioButton("FilterMT", "GLOVIS", htmlAttributes: new { @title = "GLOVIS", @id = "MTGLOVIS", @style = "visibility: hidden; width:0; height:0;", @class = "mtRadio" })

                                <label for="TRANSYS" class="btn btn-group btn-default">TRANSYS</label>
                                @Html.RadioButton("FilterMT", "TRANSYS", htmlAttributes: new { @title = "TRANSYS", @id = "TRANSYS", @style = "visibility: hidden; width:0; height:0;", @class = "mtRadio" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fromDT">From</label>
                            <input type="text" id="mtFromDT" name="mtFromDT" class="form-control" placeholder="@DateTime.MinValue.ToString("dd.MM.yyyy")" />
                        </div>
                        <div class="form-group">
                            <label for="toDT">To</label>
                            <input type="text" id="mtToDT" name="mtToDT" class="form-control" placeholder="@DateTime.Now.ToString("dd.MM.yyyy")" />
                        </div>
                    </div>
                    <div class="navbar-right" style="padding: 0 15px 0 0;">
                        <input type="submit" value="Apply" class="btn btn-default" />
                    </div>
                }
            </div>
        </div>

        <br />
        <div">
            <table class="table table-responsive table-striped table-condensed table-hover">
                <tr>
                    <th class="text-center">
                        @Html.DisplayName("Date")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Shift")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("CCR")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Office")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Time")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Shop")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("System")
                    </th>
                    <th class="text-center col-md-3">
                        @Html.DisplayName("What happened")
                    </th>
                    <th class="text-center col-md-4">
                        @Html.DisplayName("How it was solved")
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.ReportTable.Date)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.ReportTable.Shift[0])
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReportTable.MembersTable.FirstName[0]). @Html.DisplayFor(modelItem => item.ReportTable.MembersTable.LastName) <br />
                            @Html.DisplayFor(modelItem => item.ReportTable.MembersTable1.FirstName[0]). @Html.DisplayFor(modelItem => item.ReportTable.MembersTable1.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cooperation)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Shop)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.System)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Problem)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Solution)
                        </td>
                    </tr>
                }

            </table>

            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, mtPage => Url.Action("FilterIndex", new { mtPage }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "tab_MainTask", InsertionMode = InsertionMode.ReplaceWith }))
    </div>
</div>