@model Project_REPORT_v7.Models.HourOvertimeTable

@{
    ViewBag.Title = "Create";
}

<script>
    $(function () {
        $("#Type").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/HourOvertimeTables/GetTypes",
                    dataType: "json",
                    type: "POST",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        console.log(data);
                        response($.map(data, function (item) {
                            return { label: item.Type, value: item.Type };
                        }))
                    }
                });
            },
            minLength: 3,
            select: function (event, ui) {
                console.log(ui);
            }
        });

        $("#Description").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/HourOvertimeTables/GetDescriptions",
                    dataType: "json",
                    type: "POST",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        console.log(data);
                        response($.map(data, function (item) {
                            return { label: item.Description, value: item.Description }
                        }))
                    }
                });
            },
            minLength: 4,
            select: function (event, ui) {
                console.log(ui);
            }
        });

        $("#Cooperation").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/HourOvertimeTables/GetCooperations",
                    dataType: "json",
                    type: "POST",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        console.log(data);
                        response($.map(data, function (item) {
                            return { label: item.Cooperation, value: item.Cooperation }
                        }))
                    }
                });
            },
            minLength: 3,
            select: function (event, ui) {
                console.log(ui);
            }
        });

        $("#radio input").checkboxradio({
            icon: false
        });
    });
</script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h2>Add Hour Overtime</h2>
</div>
@using (Html.BeginForm("Create", "HourOvertimeTables"))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-horizontal">
            <h4>HourOvertimeTable</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus" } })
                    <div>
                        @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                    <div>
                        @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Shop, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8 clearfix">
                    <div id="radio" class="btn-group">
                        <label class="btn btn-default" for="ALL">ALL</label>
                        @Html.RadioButtonFor(model => model.Shop, "ALL", htmlAttributes: new { @checked = "checked", @title = "ALL", @id = "ALL", @style = "visibility: hidden; width: 0; height: 0;" })
                        <label class="btn btn-default" for="HMMC">HMMC</label>
                        @Html.RadioButtonFor(model => model.Shop, "HMMC", htmlAttributes: new { @title = "HMMC", @id = "HMMC", @style = "visibility: hidden; width: 0; height: 0;" })
                        <label class="btn btn-default" for="GLOVIS">GLOVIS</label>
                        @Html.RadioButtonFor(model => model.Shop, "GLOVIS", htmlAttributes: new { @title = "GLOVIS", @id = "GLOVIS", @style = "visibility: hidden; width: 0; height: 0;" })
                        <label class="btn btn-default" for="TRANSYS">TRANSYS</label>
                        @Html.RadioButtonFor(model => model.Shop, "TRANSYS", htmlAttributes: new { @title = "TRANSYS", @id = "TRANSYS", @style = "visibility: hidden; width: 0; height: 0;" })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.Shop, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                    <div>
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    <div>
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cooperation, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Cooperation, new { htmlAttributes = new { @class = "form-control" } })
                    <div>
                        @Html.ValidationMessageFor(model => model.Cooperation, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span id="progress" class="text-center center-block">
            <img src="~/Content/Animation/Rhombus.gif" alt="Wait" />
            Wait...
        </span>
        @if (TempData.ContainsKey("ErrorMessage"))
        {
            <div id="error" class="panel-danger" aria-hidden="true">
                <p class="text-danger">@TempData["ErrorMessage"].ToString();</p>
            </div>
        }
        <input class="btn btn-primary" type="submit" value="Save" />
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
    </div>
}

<script>
    $('form').removeData("validator").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse($('form'));
</script>