@model Project_REPORT_v7.Models.HourOvertimeTable

@{
    ViewBag.Title = "Delete";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 class="modal-title">Delete Hour Overtime</h3>
</div>
@using (Html.BeginForm())
{ 
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Time, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Time, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Duration, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Duration, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Shop, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Shop, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Type, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Type, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cooperation, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Cooperation, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <h3>
                        <span class="label label-danger">Are you sure to delete this row?</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">No</button>
        <input class="btn btn-danger" type="submit" value="Yes" />
    </div>
}