@model Project_REPORT_v7.Models.ReportTable

@{
    ViewBag.Title = Model.Date.ToString("dd.MM.yyyy") + " - " + Model.Shift + " Shift";
    if (Model.Date >= DateTime.Now.AddHours(-8).AddMinutes(-10))
    { Session["Closed"] = "false"; }
    else
    { Session["Closed"] = "true"; }
}

<script>
    $(function () {
        $('.jquery-ui-accordion h3').bind('click', function () {
            var self = this;
            setTimeout(function () {
                theOffset = $(self).offset();
                $('body,html').animate({
                    scrollTop: theOffset.top - 100
                });
            }, 310);
        });

        var expandLink = $('#accordion-expand-all');

        var accOpen = false;

        expandLink.click(function () {
            if (accOpen == false) {
                $(".ui-accordion-content").show();
                accOpen = true;
                $("#expandSpan").removeClass("glyphicon-triangle-bottom");
                $("#expandSpan").addClass("glyphicon-triangle-top");
            } else {
                $(".ui-accordion-content").hide();
                $("#expandSpan").removeClass("glyphicon-triangle-top");
                $("#expandSpan").addClass("glyphicon-triangle-bottom");
                accOpen = false;
            }
        });

        var index = 'accordion';
        var dataStore = window.sessionStorage;

        try {
            var lastIndex = parseInt(dataStore.getItem(index));
            var message = "Loaded from sessionStorage a lastIndex as " + lastIndex;
        }
        catch (e) {
            var lastIndex = 0;
            var message = "Initializing variable lastIndex with " + lastIndex;
            console.log(message);
        }

        $("#accordion").accordion({
            active: lastIndex,
            animate: 200,
            collapsible: true,
            heightStyle: "content",
            activate: function (event, ui) {
                var newIndex = $(this).accordion('option',"active");
                dataStore.setItem(index, newIndex)
            }
        });
        
    });

    function SendEmailSuccess() {
        alert("Email was send.");
    }

    $(document).ready(function () {
        $("#ModalPopup").on('shown.bs.modal', function () {
            $('#Time').focus();
        });

        $("body").keypress(function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement;
            if (!/INPUT|TEXTAREA|SELECT|BUTTON/.test(target.nodeName)) {
                var link = "#link";
                if (event.key == "r" || event.key == "R") {
                    showAcc("#RiAcc")
                    link = "#btnReIssueCreate";
                } else if (event.key == "p" || event.key == "P") {
                    showAcc("#PrAcc")
                    link = "#btnPrintersCreate";
                } else if (event.key == "w" || event.key == "W") {
                    showAcc("#PaAcc")
                    link = "#btnPasswordTableCreate";
                } else if (event.key == "c" || event.key == "C") {
                    showAcc("#PcAcc")
                    link = "#btnPreCheckCreate";
                } else if (event.key == "h" || event.key == "H") {
                    showAcc("#HoAcc")
                    link = $("#btnHourOvertimeCreate");
                } else if (event.key == "m" || event.key == "M") {
                    link = "#MainTaskCreate";
                }
                //console.log(link);
                if (link != "#link") $(link).trigger("click");
            }
        });

        function showAcc(id) {
            $(".ui-accordion-content").hide();
            $(id).show();
        }
    });
</script>

<div class="panel panel-info center-block">
    <div class="panel-heading">
        <h1 class="text-center">ReportTable</h1>
        <div class="col-lg-4 col-lg-offset-8" style="margin-top: -60px;">
            <a class="btn btn-info btn-lg pull-right" data-modal="" href="/Home/Information" id="btnShortcuts"> <strong>Information</strong> </a>            
            @Ajax.ActionLink( "Send Email", "SendEmail", "ReportTables", new { id = Model.ReportID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "SendEmailSuccess" }, new { @class = "btn btn-primary btn-lg pull-right", @style = "margin-right: 10px;", @id = "btnSendEmail" } );   
        </div>
    </div>
    <div class="panel-body" style="padding-bottom:15px;   ">
        <div class="row">
            <strong><span class="col-md-3 text-center" style="font-size:22px;">@Html.DisplayNameFor(model => model.Date)</span></strong>
            <strong><span class="col-md-3 text-center" style="font-size:22px;">@Html.DisplayNameFor(model => model.Shift)</span></strong>
            <strong><span class="col-md-6 text-center" style="font-size:22px;">@Html.DisplayName("Members")</span></strong>
        </div>
        <div class="row">
            <span class="col-md-3 text-center" style="font-size:18px;">@Html.DisplayFor(model => model.Date)</span>
            <span class="col-md-3 text-center" style="font-size:18px;">@Html.DisplayFor(model => model.Shift)</span>
            <span class="col-md-3 text-center" style="font-size:18px;">@Html.DisplayFor(model => model.MembersTable.Name) </span>
            <span class="col-md-3 text-center" style="font-size:18px;">@Html.DisplayFor(model => model.MembersTable1.Name) </span>
        </div>
    </div>
</div>

<div>
    <a id="accordion-expand-all" href="#" class="btn btn-danger"><span id="expandSpan" class="glyphicon glyphicon-triangle-bottom"></span></a>
</div>

<div>
    <div id="accordion">
        <h3>Re-Issue</h3>
        <div class="contentFrame" id="RiAcc">
            @Html.Partial("../ReIssueTables/_index", Model.ReIssueTable)
        </div>
        <h3>Printers</h3>
        <div class="contentFrame" id="PrAcc">
            @Html.Partial("../PrintersTables/_index", Model.PrintersTable)
        </div>
        <h3>PreCheck</h3>
        <div class="contentFrame" id="PcAcc">
            @Html.Partial("../PreCheckTables/_index", Model.PreCheckTable)
        </div>
        <h3>Password</h3>
        <div class="contentFrame" id="PaAcc">
            @Html.Partial("../PasswordTables/_index", Model.PasswordTable)
        </div>
        <h3>Hour Overtime</h3>
        <div class="contentFrame" id="HoAcc">
            @Html.Partial("../HourOvertimeTables/_index", Model.HourOvertimeTable)
        </div>
    </div>
</div>

<div id="MainTask">
    <h3>Main Task</h3>
    @Html.Partial("../MainTaskTables/_index", Model.MainTaskTable)
</div>

<div id="ModalPopup" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="ModalPopupContent"></div>
        </div>
    </div>
</div>

@{ 
    this.User.Identity.Name.ToString() ;
}


@section Scripts 
{
    @Scripts.Render("~/Scripts/Custom/Modal.js")    
}

<p>
    @Html.ActionLink("Back to List", "Index")
</p>


<!-- Buttons Previous & Next -->
<hr />
<div class="row">
    <div class="col-lg-1" style="min-width: 171px; max-width:171px;">
        <a href="/ReportTables/NextReport/@Model.ReportID" class="btn btn-info center-block"><span class="glyphicon glyphicon-arrow-up"></span> Next <span class="glyphicon glyphicon-arrow-up"></span></a>
    </div>
    <div class="col-lg-1 pull-right" style="min-width: 171px; max-width:171px;">
        <a href="/ReportTables/PreviousReport/@Model.ReportID" class="btn btn-info center-block"><span class="glyphicon glyphicon-arrow-down"></span> Prev <span class="glyphicon glyphicon-arrow-down"></span></a>
    </div>
</div>
