@model Project_REPORT_v7.Models.ReportTable

@{
    ViewBag.Title = "Edit Report";
}

<script>
    $(function () {
        $("#MembersTable_Name").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "../../MembersTables/GetMembers",
                    dataType: "json",
                    type: "POST",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        console.log(data);
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name, id: item.Id };
                        }))
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                console.log(ui);
                $("#Member_One_ID").val(ui.item.id);
            }
        });

        $("#MembersTable1_Name").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "../../MembersTables/GetMembers",
                    dataType: "json",
                    type: "POST",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        console.log(data);
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name, id: item.Id };
                        }))
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                console.log(ui);
                $("#Member_Two_ID").val(ui.item.id);
            }
        });

        $("#Date").datepicker("option", "showAnim", "slideDown");

        $("#radio input").checkboxradio({
            icon: false
        });

        $('#ReportCreate').on('shown', function () {
            $('#Date').focus();
        })
    });
</script>

<h2>Edit Report</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>ReportTable</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ReportID)

    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Shift, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 clearfix">
            <div id="radio" class="btn-group">
                <label class="btn btn-default" for="Morning">Morning</label>
                @Html.RadioButtonFor(model => model.Shift, "Morning", htmlAttributes: new { @checked = "checked", @title = "Morning", @class = "", @id = "Morning", @style = "visibility: hidden; width:0; height:0;" })
                <label class="btn btn-default" for="Afternoon">Afternoon</label>
                @Html.RadioButtonFor(model => model.Shift, "Afternoon", htmlAttributes: new { @title = "Afternoon", @id = "Afternoon", @style = "visibility: hidden; width:0; height:0;" })
                <label class="btn btn-default" for="Night">Night</label>
                @Html.RadioButtonFor(model => model.Shift, "Night", htmlAttributes: new { @title = "Night", @id = "Night", @style = "visibility: hidden; width:0; height:0;" })
            </div>
            @Html.ValidationMessageFor(model => model.Shift, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Member_One_ID, "CCR Member", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MembersTable.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.HiddenFor(model => model.Member_One_ID)
            @Html.ValidationMessageFor(model => model.Member_One_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Member_Two_ID, "CCR Member", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MembersTable1.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.HiddenFor(model => model.Member_Two_ID)
            @Html.ValidationMessageFor(model => model.Member_Two_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
