@model IEnumerable<Project_REPORT_v7.Models.PasswordTable>

@if (TempData["Closed"].Equals("false"))
{
    <p>
        <a class="btn btn-success" data-modal="" href="/PasswordTables/Create" id="btnPasswordTableCreate">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </p>
}
<table class="table table-bordered table-condensed table-striped table-responsive">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.System)
        </th>
        @if (TempData["Closed"].Equals("false") || Session["isAdmin"].Equals("Admin"))
        {
            <th class="text-center">Actions</th>
        }
    </tr>

    @foreach (var item in Model.OrderBy(o => o.Time))
    {
        <tr>
            <td class="text-center col-md-1">
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td class="text-center col-md-7">
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td class="text-center col-md-1">
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td class="text-center col-md-2">
                @Html.DisplayFor(modelItem => item.System)
            </td>

            @if (TempData["Closed"].Equals("false") || Session["isAdmin"].Equals("Admin"))
            {
                <td class="text-center col-md-1">
                    <input type="hidden" value="@item.PasswordID" class="passwordID" />
                    <a data-modal="" href="/PasswordTables/Edit/@item.PasswordID" id="@item.PasswordID" title="Edit" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-edit" /></a>
                    <a data-modal="" href="/PasswordTables/Delete/@item.PasswordID" id="@item.PasswordID" title="Delete" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-trash" /></a>
                </td>
            }                
        </tr>
    }

</table>
