@model PagedList.IPagedList<Project_REPORT_v7.Models.PasswordTable>
@using PagedList.Mvc;

<div id="tab_Password">
    <script>
        $(function () {
            $("#radioPW input").checkboxradio({
                icon: false
            });

            pwFrom = $("#pwFromDT")
                .datepicker({
                    defaultDate: "",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "dd.mm.yy"
                })
                .on("change", function () {
                    pwTo.datepicker("option", "minDate", getDate(this));
                }),
                pwTo = $("#pwToDT").datepicker({
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "dd.mm.yy"
                })
                    .on("change", function () {
                        pwFrom.datepicker("option", "maxDate", getDate(this));
                    });
            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }
                return date;
            }
        });
        $(document).ready(function () {
            $("#pwFromDT").keepValue();
            $("#pwToDT").keepValue();
        })
    </script>

    <div class="navbar navbar-default">
        <div class="container-fluid">
            @using (Ajax.BeginForm("FilterIndex", "PasswordTables", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "tab_Password" }, htmlAttributes: new { @class = "navbar-form", @style = "padding: 5px 0 0 0;" }))
            {
                <div class="navbar navbar-left" style="padding-top:3px;">
                    <div class="form-group">
                        <div class="btn-group clearfix" id="radioPW" role="radiogroup">
                            <label for="ALL" class="btn btn-default">ALL</label>
                            @Html.RadioButton("FilterPW", "ALL", htmlAttributes: new { @title = "ALL", @id = "ALL", @style="visibility: hidden; width: 0; height: 0;"})

                            <label for="GLOVIS" class="btn btn-default">GLOVIS</label>
                            @Html.RadioButton("FilterPW", "GLOVIS", htmlAttributes: new { @title="GLOVIS",@id="GLOVIS", @style="visibility: hidden; width: 0; height: 0;"})
                        </div>
                    </div>
                    <div class="form-group" style="padding-left:10px;">
                        <label for="pwFromDT">From</label>
                        <input type="text" id="pwFromDT" name="pwFromDT" class="form-control" placeholder="@DateTime.MinValue.ToString("dd.MM.yyyy")" aria-autocomplete="none" autocomplete="off" />

                        <label for="pwToDT">To</label>
                        <input type="text" id="pwToDT" name="pwToDT" class="form-control" placeholder="@DateTime.Now.ToString("dd.MM.yyy")" aria-autocomplete="none" autocomplete="off" />
                    </div>
                </div>
                <div class="navbar-right" style="padding-top:3px;" id="submit">
                    <input type="submit" value="Apply" class="btn btn-default" />
                </div>
            }
        </div>
    </div>

    <div>
        <table class="table table-responsive table-striped table-condensed table-hover">
            <tr>
                <th class="text-center">
                    @Html.DisplayName("Date")
                </th>
                <th class="text-center">
                    @Html.DisplayName("Shift")
                </th>
                <th class="text-center">
                    @Html.DisplayName("CCR")
                </th>
                <th class="text-center">
                    @Html.DisplayName("Time")
                </th>
                <th class="text-center">
                    @Html.DisplayName("Full Name")
                </th>
                <th class="text-center">
                    @Html.DisplayName("User ID")
                </th>
                <th class="text-center">
                    @Html.DisplayName("System")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.ReportTable.Date)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.ReportTable.Shift[0])
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReportTable.MembersTable.Name) <br />
                        @Html.DisplayFor(modelItem => item.ReportTable.MembersTable1.Name)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.UserID)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.System)
                    </td>
                </tr>
            }

        </table>

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @*@Html.PagedListPager(Model, pwPage => Url.Action("FilterIndex", new { pwPage, filterPW = Request.QueryString["FilterPW"], pwFromDT = Request.QueryString["pwFromDT"], pwToDT = Request.QueryString["pwToDT"] }), new PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "tab_Password", InsertionMode = InsertionMode.ReplaceWith, }) { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true});*@
        @Html.PagedListPager(Model, pwPage => Url.Action(
                "FilterIndex",
                new
                {
                    filterPW = Request.QueryString["FilterPW"],
                    pwFromDT = Request.QueryString["pwFromDT"],
                    pwToDT = Request.QueryString["pwToDT"],
                    pwPage
                } ),
                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                    new PagedListRenderOptions()
                    {
                        Display = PagedListDisplayMode.IfNeeded,
                        DisplayItemSliceAndTotal = true
                    },
                    new AjaxOptions()
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "tab_Password",
                        InsertionMode = InsertionMode.ReplaceWith,
                    }));
    </div>
</div>
